@model ShopMax.MVC.Models.ProductViewModel

@{
	ViewData["Title"] = "Product edit";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit">

	<vc:Summary></vc:Summary>

	<input type="hidden" asp-for="Id" />

	<div class="form-row">
		<div class="form-group col-md-6">

			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="QuantityStock" class="control-label"></label>
				<input asp-for="QuantityStock" class="form-control" />
				<span asp-validation-for="QuantityStock" class="text-danger"></span>
			</div>

			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
				</label>
			</div>

			<div class="form-group">
				<label asp-for="Image" class="control-label"></label>
				<input asp-for="Image" class="form-control" />
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CategoryId" class="control-label"></label>
				<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
				<span asp-validation-for="CategoryId" class="text-danger"></span>
			</div>

			@* <div class="form-group">
				<label asp-for="SellerId" class="control-label"></label>
				<select asp-for="SellerId" class="form-control" asp-items="ViewBag.Seller"></select>
				<span asp-validation-for="SellerId" class="text-danger"></span>
			</div> *@

			<div class="form-group">
				<label asp-for="CreatedAt" class="control-label"></label>
				<input asp-for="CreatedAt" class="form-control" />
				<span asp-validation-for="CreatedAt" class="text-danger"></span>
			</div>

		</div>
	</div>

	<div class="form-group">
		<input type="submit" value="Save" class="btn btn-primary" />
		<a class="btn btn-info" asp-action="Index">Back to List</a>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
