html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #CFCFCF;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-file-button input[type=file] {
  margin-left: 2px !important;
}
  .custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
  }
  .custom-file-button input[type=file]::file-selector-button {
    display: none;
  }

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

.header {
  background-color: #0A1425 !important;
  color: white !important;
}
  .header a {
    color: #728AA6 !important;
  }
  .header a:hover {
    color: yellow !important;
    text-decoration: underline;
  }
  .header button.text-dark {
    color: #728AA6 !important;
  }
    .header button.text-dark:hover {
      color: yellow !important;
      text-decoration: underline;
    }


.footer {
  background-color: #0A1425 !important;
  color: white !important;
}
  .footer a {
    color: #728AA6 !important;
  }
  .footer a:hover {
    color: yellow !important;
    text-decoration: underline;
  }

.card {
  border: 2px solid black;
}

.card-body h5 {
  text-decoration: underline;
}

